<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>JIGUMIYAK_ADMIN</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<style>
  .navbar-Container a.selected {
    background-color: gray;
    color: white;
  }
</style>
<div class="navbar-Container">
  <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
  <div class="min-h-screen w-full flex justify-between">
    <div class="fixed h-screen flex flex-col justify-between items-center w-64 bg-white shadow p-6 z-50">
      <div class="w-full space-y-2 mx-auto">
        <a th:href="@{/admin}" class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-house fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>HOME</span>
        </a>
        <a th:href="@{/admin/user}" th:classappend="${nav} == 'user' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-users fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>User</span>
        </a>
        <a th:href="@{/admin/notice}" th:classappend="${nav} == 'notice' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-bullhorn fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>Notice</span>
        </a>
        <a th:href="@{/admin/board}" th:classappend="${nav} == 'board' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-newspaper fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>Board</span>
        </a>
        <a href="#" th:classappend="${nav} == 'product' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-boxes-stacked fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>Product</span>
        </a>
        <a th:href="@{/admin/purchase}" th:classappend="${nav} == 'purchase' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-credit-card fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>Purchase</span>
        </a>
        <a th:href="@{/admin/inquiry}" th:classappend="${nav} == 'inquiry' ? 'bg-gray-200'"
           class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-comment-dots fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>Inquiry</span>
        </a>
        <a th:href="@{/index}" class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:text-white">
          <i class="fa-solid fa-capsules fa-lg" style="color: #5B9A8B; width:40px;"></i>
          <span>JIGUMIYAK</span>
        </a>
      </div>

      <div class="flex items-center justify-between w-full bg-gray-100 p-4 rounded-lg">
        <div>
          <h3 class="text-gray-900" sec:authorize="isAuthenticated()"
              th:text="${#authentication.getPrincipal().getUsername()}"></h3>
          <h3 class="text-gray-900 font-semibold" sec:authorize="isAnonymous()">로그인 필요</h3>
          <h4 class="text-sm text-gray-700 mt-1">관리자</h4>
        </div>
        <a sec:authorize="isAnonymous()" href="/user/login">
          <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
        </a>
        <a sec:authorize="isAuthenticated()" href="/user/logout">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
        </a>
      </div>
    </div>

    <div class="w-full ml-64">
      <th:block layout:fragment="content"></th:block>
    </div>
  </div>
</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/common.js}"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>

</body>
</html>