<html layout:decorate="~{admin/ad_navbar}">
<head>
    <title>ADMIN-BOARD</title>
</head>
<div layout:fragment="content" class="relative">
    <table class="w-11/12 mx-auto border-collapse" style="min-width:1500px">
        <thead>
        <tr class="border-b-4 border-double border-gray-500 h-12">
            <th class="border-l-2 border-r-2 border-gray-300 w-24 px-2">아이디</th>
            <th class="border-l-2 border-r-2 border-gray-300 w-56 px-2">이메일</th>
            <th class="border-l-2 border-r-2 border-gray-300 px-2">주소</th>
            <th class="border-l-2 border-r-2 border-gray-300 px-2">가입</th>
            <th class="border-l-2 border-r-2 border-gray-300 px-2">최근로그인</th>
            <th class="border-l-2 border-r-2 border-gray-300 px-2">회원권한</th>
            <th class="border-l-2 border-r-2 border-gray-300 px-2">수정/삭제</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user, loop : ${userList}" class="border h-9 text-sm">
            <td th:text="${user.loginId}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-center px-2"></td>
            <td th:text="${user.email}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-center px-2"></td>
            <td class="border-l-2 border-r-2 border-b-2 border-gray-300 text-start px-2">
                <span th:if="${user.address != null}" th:text="|(${user.address.zoneCode}) ${user.address.mainAddress}|"></span>
            </td>
            <td th:text="${#temporals.format(user.createDate, 'yy.MM.dd HH:mm')}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-center px-2"></td>
            <td th:text="${#temporals.format(user.lastLoginDate, 'yy.MM.dd HH:mm')}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-center px-2"></td>
            <td th:text="${user.getAuthoritiesInline}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-start px-2"></td>
            <td th:text="${user.getAuthoritiesInline}" class="border-l-2 border-r-2 border-b-2 border-gray-300 text-center px-2"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>