<html layout:decorate="~{admin/ad_navbar}">
<head>
  <title>ADMIN-BOARD</title>
</head>
<div layout:fragment="content" class="relative">
  <div class="w-full h-24 border-b border-gray-300 flex justify-center items-center flex-wrap">
    <div class="border border-gray-300 rounded-lg h-10 w-2/3 flex items-center">
      <input type="text" id="search_kw" class="inline-block h-full w-9/12 bg-transparent" th:value="${kw}">
      <button class="h-full w-3/12 inline-block border-l" type="button" id="btn_search">찾기</button>
    </div>
  </div>

  <form th:action="@{/admin/board}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
  </form>

  <table class="w-11/12 mx-auto" style="min-width:1500px">
    <thead>
    <tr class="border-b-4 border-double border-black h-12">
      <th class="w-24">게시글ID</th>
      <th class="w-56">제목</th>
      <th>내용</th>
      <th class="w-12">댓글</th>
      <th class="w-36">작성자</th>
      <th class="w-32">작성일시</th>
      <th class="w-32">수정일시</th>
      <th class="w-20">버튼</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board, loop : ${paging}" class="border-b h-8">
      <td th:text="${board.id}" class="text-center"></td>
      <td><a th:href="@{|/board/${board.id}|}" th:text="${board.subject}"></a></td>
      <td><a th:href="@{|/board/${board.id}|}" th:text="${board.content}"></a></td>
      <td class="w-12 text-center text-blue-700"><a th:href="@{|/admin/board/${board.id}|}" th:text="${#lists.size(board.commentList)}"></a></td>
      <td><span th:if="${board.author != null}" th:text="${board.author.loginId}"></span></td>
      <td th:text="${#temporals.format(board.createDate, 'yyMMdd HH:mm')}" class="text-center"></td>
      <td th:text="${#temporals.format(board.modifyDate, 'yyMMdd HH:mm')}" class="text-center"></td>
      <td class="text-center py-2">
        <a href="javascript:void(0);" th:data-uri="@{|/admin/board/delete/${board.id}|}" sec:authorize="isAuthenticated()"
           class="delete border rounded-lg p-1 hover:bg-gray-200" th:text="삭제"></a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- 페이징 -->
  <div th:if="${!paging.isEmpty()}" class="w-full flex justify-center mt-5">
    <ul class="w-full flex justify-center items-center">
      <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="py-3 px-1">
        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}"><span>이전</span></a>
      </li>

      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page == paging.number} ? 'active'">
        <a th:text="${page+1}" class="page-link p-3 mx-1 border rounded-lg hover:bg-gray-300" th:href="@{/admin/board(kw=${kw}, page=${page})}"></a>
      </li>

      <li th:classappend="${!paging.hasNext} ? 'disabled'" class="py-3 px-1">
        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}"><span>다음</span></a>
      </li>
    </ul>
  </div>
</div>

<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        console.log("Page link clicked");
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});

const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    console.log("Search button clicked");
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;
    document.getElementById('searchForm').submit();
});

const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>