<html layout:decorate="~{admin/ad_navbar}">
<head>
  <title>ADMIN-INQUIRY</title>
</head>
<div layout:fragment="content" class="relative">

  <table class="w-11/12 mx-auto mb-10" style="min-width:1500px">
    <thead>
    <tr class="border-b-4 border-double border-black h-12">
      <th class="w-24">문의글ID</th>
      <th class="w-36">카테고리</th>
      <th class="w-48">제목</th>
      <th>내용</th>
      <th class="w-24">답변</th>
      <th class="w-24">버튼</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="inquiry, loop : ${paing}" class="border-b h-8">
      <td th:text="${inquiry.id}" class="text-center"></td>
      <td th:text="${inquiry.category}" class="text-center"></td>
      <td th:text="${inquiry.subject}"></td>
      <td th:text="${inquiry.content}" class="px-5"></td>
      <td th:text="${inquiry.state}" class="text-center"></td>
      <td class="text-center">
        <a href="javascript:void(0);" th:data-uri="@{|/inquiry/delete/${inquiry.id}|}" sec:authorize="isAuthenticated()"
           class="delete border rounded-lg p-1 hover:bg-gray-200" th:text="삭제"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>