/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family:"GmarketSansMedium";
  text-underline-position: under;
  padding:0; margin:0;
}

:root {
  --site-width:1280px;
  --btm-bar__height:200px;
}

.footer-Container {
  background-color:transparent;
}

.btm-con {
  max-width:var(--site-width);

}

.btm-bar {
  background-color:#FAF7F0;
  --color:black;
  height:var(--btm-bar__height);
  color:var(--color);
}

