#signup-btn.deactivated {
    background-color: white;
    color: black;
}
#signup-btn.deactivated:hover {
    background-color: white;
    border-color: #D1D5DB;
    color: black;
    cursor: initial;
}