html > body {
  font-family:"GmarketSansMedium";
  text-underline-position: under;
  padding:0; margin:0;
}
:root {
  --site-width:1280px;
  --top-bar__height:128px;
}

.test-Container {
  background-color:transparent;
}

.test-con {
  max-width:var(--site-width);
}

/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.con {
  max-width:var(--site-width);
}

/* 로고 */
.logo {
  font-size:1.7rem;
  font-weight:bold;
  letter-spacing:0.025rem;
}

@media ( max-width:767px ) {
  .logo {
    font-size:20px;
  }
  .menu {
    font-size : 16px;
  }
}

/* 탑바 */
.top-bar {
  --color:#A5CDCD;
  height:var(--top-bar__height);
  color:var(--color);
  top:0;
  left:0;
  width:100%;
}

.top-bar.hover {
  --color:white;
  --inverse-color:#A5CDCD;
  background-color:var(--inverse-color);
}

/* 메뉴 1 */
.menu-1__li-icon > a > span {
  font-size:20px;
}

.menu-1 > li:not(.menu-1__li-icon) > a > span {
  font-size:14px;
}

.menu-1__li-join > a > span {
  background-color:var(--color, white);
  color:var(--inverse-color, black);
  padding:12px 12px 7px 12px;
  margin-bottom:5px;
  border-radius:20px;
}

.menu-1 > li:hover > a > span {
  text-decoration:underline;
}

.disabled {
    color:gray;
    pointer-events:none;
}