<html layout:decorate="~{layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 토스 페이먼츠 API -->
    <script src="https://js.tosspayments.com/v1"></script>
    <title>PURCHASE</title>
</head>
<div layout:fragment="content" class="test-Container">
    <div class="test-con mx-auto pr-1 h-full mt-[128px]">
        <form id="purchaseForm" action="" th:object="${purchaseForm}">
            <h5 class="border-b-4 border-double border-gray-300 text-2xl pt-5">주문하기</h5>
            <div class="h-auto w-[70%] mr-auto px-4 py-4 my-[20px] shadow">
                <h6 class="text-xl border-b-2 border-gray-300">주문고객정보</h6>
                <div class="flex mt-5 items-center">
                    <div class="flex-[0_0_15%]">
                        <span class="label-text">아이디</span>
                    </div>
                    <div class="flex-auto gap-2 flex">
                        <input type="text" class="input input-bordered flex-auto"
                               disabled th:field="*{purchaserLoginId}" th:value="${purchaser.loginId}">
                    </div>
                </div>
                <div class="flex mt-5 items-center">
                    <div class="flex-[0_0_15%]">
                        <span class="label-text">이메일</span>
                    </div>
                    <div class="flex-auto gap-2 flex">
                        <input type="text" class="input input-bordered flex-auto"
                               disabled th:field="*{purchaserEmail}" th:value="${purchaser.email}">
                    </div>
                </div>
                <div class="flex mt-5 items-center">
                    <div class="flex-[0_0_15%]">
                        <span class="label-text">보내는 분</span>
                    </div>
                    <div class="flex-auto gap-2 flex">
                        <input type="text" class="input input-bordered flex-auto" th:field="*{purchaserName}" autofocus>
                    </div>
                </div>
                <div class="flex mt-5 items-center">
                    <div class="flex-[0_0_15%]">
                        <span class="label-text">휴대폰</span>
                    </div>
                    <div class="flex-auto gap-2 flex items-center">
                        <input type="text" class="input input-bordered w-4/12" disabled value="010">
                        <span>-</span>
                        <input type="text" class="input input-bordered w-4/6" placeholder="'-' 없이 휴대폰 번호 입력" th:field="*{purchaserPhoneNumber}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="hidden-parameters">
        <input type="hidden" th:value="${price}">
    </div>
    <button class="button is-link" onclick="pay('카드', requestJson.card);">결제하기</button>
</div>
<script layout:fragment="script" th:src="@{/js/purchase.js}"></script>
</html>