<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>JIGUMIYAK_ADMIN</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<style>
  .navbar-Container a.selected {
    background-color: gray;
    color: white;
  }
</style>
<div class="navbar-Container">
  <div class="min-h-screen w-full flex justify-between">
    <div class="fixed h-screen flex flex-col justify-between items-center w-64 bg-white shadow p-6 z-50">
      <div class="w-52 inline-flex flex-col space-y-2">

        <a href="#" class="flex items-center py-2 cursor-pointer hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-house fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none ">HOME</span>
        </a>

        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-users fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">User manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-bullhorn fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Notice manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-newspaper fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Article manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-boxes-stacked fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Product manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-credit-card fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Payment manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-truck fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Deliver manager</span>
        </a>
        <a href="#" class="flex items-center py-2 cursor-pointer  hover:bg-gray-200 rounded-2xl px-2 focus:bg-gray-400 focus:text-white">
          <i class="fa-solid fa-comment-dots fa-lg" style="color: #A5CDCD; width:40px;"></i>
          <span class="font-medium select-none">Inquiry manager</span>
        </a>
      </div>


      <div class="flex items-center justify-between w-full bg-gray-100 p-4 rounded-lg">
        <div>
          <h3 class="text-gray-900 font-semibold">관리자 아이디</h3>
          <h4 class="text-sm text-gray-700 mt-1">관리자</h4>
        </div>
        <a href="#">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
        </a>
      </div>


    </div>


    <div class="w-full ml-64">
      <th:block layout:fragment="content"></th:block>
    </div>
  </div>
</div>

<script>
  function setSelectedLink(linkId) {
    localStorage.setItem('selectedLink', linkId);
  }

  function getSelectedLink() {
    return localStorage.getItem('selectedLink');
  }

  $(document).ready(function() {
    const anchorLinks = $('.navbar-Container a');
    const storedLinkId = getSelectedLink();

    if (storedLinkId) {
      anchorLinks.each(function() {
        if ($(this).attr('id') === storedLinkId) {
          $(this).addClass('selected');
        }
      });
    }

    anchorLinks.click(function(event) {
      event.preventDefault();

      anchorLinks.removeClass('selected');

      $(this).addClass('selected');

      setSelectedLink($(this).attr('id'));
    });
  });
</script>
</body>
</html>