<html layout:decorate="~{layout}">
<head>
  <title>BOARD-DETAIL</title>
</head>
<div layout:fragment="content" class="test-Container">
  <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
  <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
    <div th:text="${board.subject}"></div>
    <div th:text="${board.content}"></div>

    <div th:text="|${#lists.size(board.commentList)}개의 답변이 있습니다.|"></div>
    <div>
      <ul>
        <li th:each="comment : ${board.commentList}" th:text="${comment.content}"></li>
      </ul>
    </div>


    <form th:action="@{|/comment/create/${board.id}|}" th:object="${boardCommentForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <textarea name="content" id="content" rows="15" class="block w-full border rounded-lg"></textarea>
      <input type="submit" value="답변등록" class="block text-center w-32 rounded-xl p-3 my-5" style="background:#E9B384;">
    </form>
  </div>
</div>
</html>