<html layout:decorate="~{layout}">
<head>
    <title>BOARD-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
    <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
        <h5 class="border-b-4 border-double border-gray-300 text-2xl pt-5">커뮤니티</h5>

        <!-- 검색  -->
        <div class="search-area w-full h-32 border-b-4 border-double border-gray-300 flex justify-center items-center flex-wrap">
            <div class="search-box border border-gray-300 rounded-lg h-10 w-2/3 flex items-center">
                <select th:value="${kwc}" type="text" id="search_kwc" class="h-full border border-gray-400 rounded py-2">
                    <option value="all" th:selected="${kwc == 'all'}">전체</option>
                    <option value="title" th:selected="${kwc == 'title'}">제목</option>
                    <option value="content" th:selected="${kwc == 'content'}">내용</option>
                    <option value="titleandcontent" th:selected="${kwc == 'titleandcontent'}">제목+내용</option>
                    <option value="author" th:selected="${kwc == 'author'}">작성자</option>
                </select>
                <input type="text" id="search_kw" class="inline-block h-full w-9/12 bg-transparent" th:value="${kw}">
                <button class="h-full w-3/12 inline-block border-l" type="button" id="btn_search">찾기</button>
            </div>
        </div>
        <form th:action="@{/board}" method="get" id="searchForm">
            <input type="hidden" id="kwc" name="kwc" th:value="${kwc}">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
            <input type="hidden" id="pageSize" name="pageSize" th:value="${size}">
        </form>

        <!--테이블-->
        <table class="w-full">
            <thead>
            <tr class="border-b">
                <th>
                    <select th:value="${pageSize}" id="pageSizeSelect" name="pageSizeSelect"
                            class="border border-gray-400 rounded py-2 mt-auto">
                        <option value="5" th:selected="${pageSize} == 5">5개</option>
                        <option value="10" th:selected="${pageSize} == 10">10개</option>
                        <option value="20" th:selected="${pageSize} == 20">20개</option>
                        <option value="50" th:selected="${pageSize} == 50">50개</option>
                    </select>
                </th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시
                    <button class="order-button" data-order="outdated">▼</button>
                </th>
                <th>조회수
                    <button class="order-button" data-order="views">▼</button>
                </th>
                <th>추천수
                    <button class="order-button" data-order="voter">▼</button>
                </th>
            </tr>
            </thead>
            <tbody class="w-full">
            <tr th:each="board, loop : ${paging}" class="border-b">
                <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}" class="w-1/12 text-center"></td>
                <td class="w-5/12 py-2">
                    <a th:href="@{|/board/${board.id}|}" th:text="${board.subject}" class="text-lg w-full"></a>
                    <span class="text-sm text-green-600 px-3"
                          th:if="${#lists.size(board.commentList) > 0}"
                          th:text="${#lists.size(board.commentList)}">
                        </span>
                </td>
                <td class="w-2/12 text-center"><span th:if="${board.author != null}" th:text="${board.author.loginId}"></span></td>
                <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}" class="text-sm w-2/12 text-center"></td>
                <td class="w-1/12 text-center">조회수</td>
                <td class="w-1/12 text-center" th:text="${#lists.size(board.voter)}"></td>
            </tr>
            </tbody>
        </table>


        <!-- 페이징 -->
        <div th:if="${!paging.isEmpty()}" class="w-full flex justify-center mt-5">
            <ul class="w-full flex justify-center items-center">
                <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="py-3 px-1">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}"><span>이전</span></a>
                </li>

                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'">
                    <a th:text="${page+1}" class="page-link p-3 mx-1 border rounded-lg hover:bg-gray-300" th:href="@{/board(kwc=${kwc}, kw=${kw}, page=${page}, pageSize=${pageSize})}"></a>
                </li>

                <li th:classappend="${!paging.hasNext} ? 'disabled'" class="py-3 px-1">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}"><span>다음</span></a>
                </li>
            </ul>
        </div>


        <a th:attr="onclick=|_anonymous('/board/create', '${!#strings.contains(#authentication.authorities, 'ROLE_ANONYMOUS')}')|" class="cursor-pointer block text-center w-32 rounded-xl p-3 my-5" style="background:#E9B384;">글 작성하기</a>
    </div>

</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/common.js}"></script>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kwc').value = document.getElementById('search_kwc').value;
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('pageSize').value = document.getElementById('pageSize').value;
        document.getElementById('searchForm').submit();
    });

    const pageSizeSelect = document.getElementById('pageSizeSelect');
    pageSizeSelect.addEventListener('change', function () {
        const selectedPageSize = this.value;
        const pageSizeInput = document.getElementById('pageSize');
        pageSizeInput.value = selectedPageSize;
        localStorage.setItem('selectedPageSize', selectedPageSize);
        document.getElementById('page').value = 0;
        document.getElementById('searchForm').submit();
        });
</script>
</html>