<html layout:decorate="~{layout}">
<head>
  <title>INQUIRY-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">
  <style>
    .inquiry-question::after {
      content: "∨";
      float: right;
      padding-right:15px;
    }

    .inquiry-list-box > li.hover > .inquiry-question::after {
    content: "∧";
}
  </style>
  <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
    <div class="border-b-4 border-double border-gray-300 text-2xl pt-5">자주찾는 문의</div>

    <div class="border-b border-gray-300 search-area w-full flex justify-center items-center flex-wrap">
      <!--      검색-->
      <div class="search-box border border-gray-300 rounded-lg h-10 w-3/4 flex items-center my-10">
        <input type="text" id="search_kw" class="inline-block h-full w-9/12 bg-transparent" th:value="${kw}">
        <button class="h-full w-3/12 inline-block border-l" type="button" id="btn_search">찾기</button>
      </div>
      <!--      카테고리-->
      <ul class="w-3/4 h-12 flex text-sm text-center mb-10">
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">주문 / 결제</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">환불 / 반품 / 교환</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">배송</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">회원</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300">
          <a href="#" class="w-full h-full flex items-center justify-center">사이트 이용 / 기타</a>
        </li>
      </ul>
    </div>


    <!--      목록-->
    <div class="w-full flex justify-center">
      <ul class="inquiry-list-box w-3/4 mb-8">
        <li>
          <div class="inquiry-question text-lg text-bold py-4 cursor-pointer">
            <span class="px-12 text-gray-500">주문 / 결제</span>
            <span>Q. 30만원 이상 결제 시 공인인증서 인증은 필수인가요?</span>
          </div>
          <div class="inquiry-answer hidden bg-gray-100 p-10">
            <div>
              2005년 11월 1일부터 금감원의 전자상거래 안정성 강화 정책에 따라 30만원 이상의 모든 신용카드 결제에 공인인증 사용이 의무화 되었습니다. (단, 30만원 이하 결제는 공인인증서 없이 결제 가능) 따라서 30만원 이상 결제 시에는 반드시 공인인증서가 있어야 가능합니다.
            </div>
            <div class="my-5">답변이 충분하지 않으시다면 1:1상담신청을 이용해 주세요.</div>
            <div>
              <a href="#" class="border py-3 px-5 bg-white">1:1 상담하기</a>
            </div>
          </div>
        </li>
        <li>
          <div class="inquiry-question text-lg text-bold py-4 cursor-pointer">
            <span class="px-12 text-gray-500">주문 / 결제</span>
            <span>Q. 결제시 설치프로그램이 깔리지 않아요. 어떻게 하면 되나요?</span>
          </div>
          <div class="inquiry-answer hidden bg-gray-100 p-10">
            <div>
              이니시스 닷컴 메인 홈페이지로 들어가신 후, 맨 위 [기술 지원] 페이지 클릭 → [INIpay 마법사] 클릭 → 플러그인 오류 자동 복구 프로그램 실행하기 클릭 → 설치완료
            </div>
            <div class="my-5">답변이 충분하지 않으시다면 1:1상담신청을 이용해 주세요.</div>
            <div>
              <a href="#" class="border py-3 px-5 bg-white">1:1 상담하기</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script layout:fragment="script" type="text/javascript">
  function _faqBoxInit() {
    $(".inquiry-list-box > li").click(function() {
      $(this).siblings(".hover").find(" > .inquiry-answer").stop().slideUp(300);
      $(this).siblings(".hover").removeClass("hover");

      if ($(this).hasClass("hover")) {
        $(this).find(" > .inquiry-answer").stop().slideUp(300);
        $(this).removeClass("hover");
      }
      else {
        $(this).find(" > .inquiry-answer").stop().slideDown(300);
        $(this).addClass("hover");
      }
    });

    $(".inquiry-answer").click(function() {
      return false;
    });
  }
  _faqBoxInit();
</script>
</html>