<html layout:decorate="~{layout}">
<head>
  <title>INQUIRY-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">
  <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
    <div class="border-b-4 border-double border-gray-300 text-2xl pt-5">자주찾는 문의</div>

    <div class="border-b border-gray-300 search-area w-full flex justify-center items-center flex-wrap">
      <!--      검색-->
      <div class="search-box border border-gray-300 rounded-lg h-10 w-3/4 flex items-center my-10">
        <input type="text" id="search_kw" class="inline-block h-full w-9/12 bg-transparent" th:value="${kw}">
        <button class="h-full w-3/12 inline-block border-l" type="button" id="btn_search">찾기</button>
      </div>
      <!--      카테고리-->
      <ul class="w-3/4 h-12 flex text-sm text-center mb-10">
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">주문 / 결제</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">환불 / 반품 / 교환</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">배송</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300 border-r-0">
          <a href="#" class="w-full h-full flex items-center justify-center">회원</a>
        </li>
        <li class="w-1/5 h-12 border border-gray-300">
          <a href="#" class="w-full h-full flex items-center justify-center">사이트 이용 / 기타</a>
        </li>
      </ul>
    </div>

</div>
</html>