<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- toastr 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

<!-- 폰트어썸 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" th:href="@{/login.css}">

<div class="flex-grow flex items-center justify-center h-full border-solid border-2">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-right-to-bracket"></i>
            로그인
        </h1>

        <form th:action="@{/user/login}" id="login-form" method="post" class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                    <span class="alert-loginId label-text text-red-400" th:if="${errors.containsKey('loginId')}" th:text="${errors.get('loginId')}"></span>
                </label>
                <input type="text" id="loginId" name="loginId" placeholder="아이디" class="input input-bordered" autofocus />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                    <span class="alert-password label-text text-red-400" th:if="${errors.containsKey('password')}" th:text="${errors.get('password')}"></span>
                </label>
                <input type="password" id="password" name="password" placeholder="비밀번호" class="input input-bordered" />
            </div>

            <button type="button" id="login-btn" th:onclick="_login()"
                    class="btn btn-block border-gray-300 gap-1 bg-[color:#A5CDCD] deactivated">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>로그인</span>
            </button>

            <a href="/oauth2/authorization/kakao" class="btn btn-block btn-outline border-gray-300 gap-1">
                <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
                <span>카카오 로그인</span>
            </a>

            <a href="/" class="btn btn-block btn-outline border-gray-300 gap-1">
                <i class="fa-solid fa-house"></i>
                <span>메인화면</span>
            </a>

            <div class="flex flex-wrap justify-center">
                <a href="/user/signup" class="btn btn-link text-[color:gray]">회원가입</a>
                <a href="/user/find" class="btn btn-link text-[color:gray]">아이디/비밀번호 찾기</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:src="@{/common.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/login.js}"></script>