<div th:fragment="navbarFragment" class="navbar-Container">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">

    <header class="top-bar fixed">
        <div class="con mx-auto pr-1 h-1/2 flex">
            <a href="/" class="logo flex items-center px-3">
              <span>
                지금이약
              </span>
            </a>

            <div class="flex-grow"></div>

            <ul class="flex menu-1">
                <li class="menu-1__li-icon">
                    <a th:if="${@commonUtil.isAdmin(#authentication)}" class="h-full flex items-center px-2 cursor-pointer" href="/admin">
                        <span>관리자</span>
                    </a>
                </li>
                <li class="menu-1__li-icon">
                    <a class="h-full flex items-center px-2 cursor-pointer" th:attr="onclick=|_anonymous('/cart', '${!#strings.contains(#authentication.authorities, 'ROLE_ANONYMOUS')}')|">
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                    </a>
                </li>
                <li class="menu-1__li-icon">
                    <a class="h-full flex items-center px-2 cursor-pointer" th:attr="onclick=|_anonymous('/user/mypage', '${!#strings.contains(#authentication.authorities, 'ROLE_ANONYMOUS')}')|">
                        <span><i class="far fa-user"></i></span>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a href="/user/login" class="h-full flex items-center px-2">
                        <span>로그인</span>
                    </a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" href="/user/logout" class="h-full flex items-center px-2">
                        <span>로그아웃</span>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="menu-1__li-join">
                    <a href="/user/signup" class="h-full flex items-center px-2">
                        <span>가입하기</span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="con mx-auto pr-1 h-1/2">

            <ul class="flex justify-between h-full w-full">
                <li class="w-1/5">
                    <a href="/survey/ready" class="menu h-full w-full flex items-center justify-center text-xl">맞춤 영양제
                    </a>
                </li>
                <li class="w-1/5">
                    <a th:href="@{/product}" class="menu h-full w-full flex items-center justify-center text-xl">상품 조회
                    </a>
                </li>
                <li class="w-1/5">
                    <a th:href="@{/board}" class="menu h-full w-full flex items-center justify-center text-xl">커뮤니티
                    </a>
                </li>
                <li class="w-1/5">
                    <a th:href="@{/notice}" class="menu h-full w-full flex items-center justify-center text-xl">공지사항
                    </a>
                </li>
                <li class="w-1/5">
                    <a th:href="@{/inquiry}" class="menu h-full w-full flex items-center justify-center text-xl">문의하기
                    </a>
                </li>
            </ul>

        </div>

        <a href="javascript:openDetail('/chat?id=guest')" class="enter_chat fixed bottom-5 right-5">
            <div class="p-3 rounded-full" style="background:#A5CDCD;">
                <i class="fas fa-comments fa-xl" style="color:white;"></i>
            </div>
        </a>
    </header>
    <script src="starboot/js/scripts.js"></script>
    <script type="text/javascript">
    function TopBar__init() {
      $(window).scroll(function() {
        let scrollTop = $(window).scrollTop();

        if ( scrollTop == 0 ) {
          $('.top-bar').removeClass('hover');
        }
        else {
          $('.top-bar').addClass('hover');
        }
      });
    }

    TopBar__init();


    function openDetail(url) {
        var width = 768;
        var height = 650;
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        window.open(url, 'detail', 'width=' + width +', height='+height +', left='+left +', top='+top +', location=no, status=no, scrollbar=yes');
    }

    </script>
</div>
