<html layout:decorate="~{layout}">
<head>
    <title>PRODUCT-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
    <div class="w-screen bg-gray-300" style="margin-top:128px; background:#EEEFF4;">
        <div class="test-con mx-auto pr-1 h-full text-right flex justify-around items-center">
            <div class="text-center ml-48">
                <div class="text-6xl font-bold mb-5" style="width:250px;">지금이약</div>
                <div class="text-5xl ml-16" style="width:230px;">맞춤 상품</div>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/08/25/03/50/herbs-906140_1280.jpg"
                 alt="product" style="height:500px;" class="mr-32">
        </div>
    </div>
    <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">


    </div>
</div>
</script>
</html>