<html layout:decorate="~{layout}">
<head>
  <title>BOARD-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">
  <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
  <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
    <div class="top-area bg-pink-100 w-full flex">

      <div class="t-left-area border border-red-200 w-full m-10">
        <div class="tl-top-area">
          <img src="https://img.freepik.com/free-photo/vitamin-c-injection-in-a-glass-bottle-vial-with-yellow-liquid_53876-97343.jpg?w=740&t=st=1692605784~exp=1692606384~hmac=f62bfc9ff4b6873266c34a136c352444ddaf6b814602b8e260bf2e661ff12f02" alt="약">
        </div>
        <div class="tl-btm-area flex justify-between mt-10">
          <div class="text-2xl"><span>별점 평균</span><span class="mx-5 text-blue-700 font-bold">5.0</span><span class="text-lg">⭐⭐⭐⭐⭐</span></div>
          <div class="flex items-center"><a href="#" class="text-gray-600">REVIEW(123) >></a></div>
        </div>
      </div>

      <div class="t-right-area border border-blue-200 w-full h-full m-10">
        <div class="w-full text-lg text-gray-400">카테고리 쓰던지</div>
        <div class="w-full text-5xl my-4 font-bold">얌얌굿 영양제</div>
        <div class="w-full text-2xl">제조사나 회사나 그 외</div>
        <div class="w-full text-xl my-4 text-gray-600">이 영양제는 개쩌는 효과가 있씁니다. 진짜로. 게다가 가성비도 미텻습니다. 맛도 완저니 좋습미다.</div>
        <div>
          <button class="border-b border-opacity-0 hover:border-opacity-100 border-gray-500 mr-3"><i class="fa-solid fa-link fa-xl" style="color: #868E96;"></i></button>
          <button class="border-b border-opacity-0 hover:border-opacity-100 border-gray-500"><i class="fa-solid fa-heart fa-xl" style="color: #868E96;"></i></button>
        </div>
        <div class="text-2xl text-right my-3 pb-5 border-b"><span class="text-sm mx-5 text-gray-400">100ml</span><span class="font-bold">33,900</span><span class="text-gray-500 ml-3">원</span></div>
        <div class="text-xl text-right my-3"><span class="text-base mx-5 text-green-600">정기배송</span><span>30,000</span><span class="text-gray-500 ml-3">원</span></div>
        <div>
          <select type="text" id="option" class="w-full h-12 border">
            <option value="option1">써도되고</option>
            <option value="option2">안써도되고</option>
            <option value="option3">맘대루</option>
          </select>
        </div>
        <div class="w-full bg-gray-200 border mt-5">
          <div class="text-right border-b">
            <input type="number" name="favnum" min="1" max="9" placeholder="개수" class="w-20 h-10 my-3 border">
          </div>
          <div><span>상품금액 합계</span><span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>