<html layout:decorate="~{layout}">
<head>
    <title>PRODUCT-LIST</title>
</head>
<div layout:fragment="content" class="test-Container">

    <nav th:replace="~{sidebar :: sidebarFragment}"></nav>
    <style>
    .first-category::after {
      float: right;
      padding-right:15px;
    }





    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
    <!--  상단배너 -->
    <div class="w-screen bg-gray-300" style="margin-top:128px; background:#EEEFF4;">
        <div class="test-con mx-auto pr-1 h-full text-right flex justify-around items-center">
            <div class="text-center ml-48">
                <div class="text-6xl font-bold mb-5" style="width:250px;">지금이약</div>
                <div class="text-5xl ml-16" style="width:230px;">맞춤 상품</div>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/08/25/03/50/herbs-906140_1280.jpg"
                 alt="product" style="height:500px;" class="mr-32">
        </div>
    </div>
    <!--    카테고리-->
    <div class="test-con mx-auto pr-1 flex">
        <div class="w-full">
            <!--            버튼-->
            <div class="search-box">
                <input type="text" id="productKeyword" name="productKeyword" th:value="${keyword}"
                       placeholder="제품명을 검색하세요" onkeydown="handleKeyDown(event)">
                <button type="button" id="btn_search"
                        class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
                        onclick="keywordSearch()"></button>
            </div>

            <!--카테고리 선택 버튼-->
            <div class="w-full">
                <ul class="grid grid-cols-4 md:grid-cols-7 xl:grid-cols-12 gap-2 p-8">
                    <li th:each="category : ${categoryList}" class="group my-3">
                        <button type="button" class="w-full h-full p-3 border rounded-2xl hover:bg-gray-200"
                                th:attr="data-category=${category.categoryName}" id="productCategory"
                                onclick="selectCategory(this)">
                            <span th:text="${category.categoryName}"></span>
                        </button>
                    </li>
                </ul>
            </div>

            <!--            상품 목록-->
            <div class="w-full">
                <ul class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 p-10">
                    <li th:each="product : ${paging}" class="group">
                        <a th:href="@{|/product/${product.id}|}" class="group-hover:underline">
                            <div class="profile-img-box">
                                <img th:if="${product.thumbnailImg != null}"
                                     th:attr="src=${@commonUtil.getFilePath(product.thumbnailImg.id)}" alt="">
                                <img th:if="${product.thumbnailImg == null}" src="https://picsum.photos/id/237/752/442"
                                     alt="" class="w-32 h-24 object-cover">
                            </div>
                            <div class="font-bold pt-1 text-base" th:text="${product.name}"></div>
                            <div class="text-gray-600 text-lg pt-1" th:text="${product.nutrientList[0].name}"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징 -->
            <div th:if="${!paging.isEmpty()}" class="w-full flex justify-center mt-5">
                <ul class="w-full flex justify-center items-center">
                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="py-3 px-1">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${0}"><span><<</span></a>
                    </li>

                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="py-3 px-1">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}"><span>이전</span></a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'">
                        <a th:text="${page+1}" class="page-link p-3 mx-1 border rounded-lg hover:bg-gray-300"
                           th:href="@{/product(keyword=${keyword},
                       category=${category},
                       page=${page},
                       pageSize=${pageSize}
                       )}">
                        </a>
                    </li>

                    <li th:classappend="${!paging.hasNext} ? 'disabled'" class="py-3 px-1">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}"><span>다음</span></a>
                    </li>

                    <li th:classappend="${!paging.hasNext} ? 'disabled'" class="py-3 px-1">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.totalPages - 1}">
                            <span>>></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징 끝-->
        </div>
        <form th:action="@{/product}" method="get" id="parameterForm">
            <input type="hidden" id="page" name="page" th:value="${page}">
            <input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}">
            <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
            <input type="hidden" id="category" name="category" th:value="${category}">
        </form>

    </div>
    <script type="text/javascript" th:inline="javascript" th:src="@{/common.js}"></script>
    <script layout:fragment="script" type="text/javascript">
    // 키워드 검색
    function keywordSearch() {
        var keyword = document.getElementById('productKeyword').value;
        var category = document.getElementById('category').value;

        document.getElementById('keyword').value = keyword;
        document.getElementById('category').value = category;
        document.getElementById('page').value = 0;
        document.getElementById('parameterForm').submit();
    }
    // 카테고리 클릭 검색
     function selectCategory(button) {
        var keyword = document.getElementById('productKeyword').value;
        var categoryName = button.getAttribute('data-category');

        document.getElementById('keyword').value = keyword;
        document.getElementById('category').value = categoryName;
        document.getElementById('page').value = 0;
        document.getElementById('parameterForm').submit();
    }

    // 엔터키로 검색
    function handleKeyDown(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // 기본 동작인 폼 제출 방지
            keywordSearch(); // 검색 함수 호출
        }
    }

    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('parameterForm').submit();
        });
    });

    </script>
</div>
</html>