<html layout:decorate="~{layout}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <!-- toastr 불러오기 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
  <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

  <!-- 폰트어썸 아이콘 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

  <!-- 데이지 UI 불러오기 -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />

  <!-- 테일윈드 불러오기 -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
  <title>FIND-ID/PW</title>
</head>
<div layout:fragment="content" class="test-Container">
  <div class="test-con mx-auto pr-1 h-full mt-[128px]">
    <h5 class="border-b-4 border-double border-gray-300 text-2xl pt-5">ID/PW 찾기</h5>
    <div class="w-full flex justify-around">

      <!-- ID 찾기 영역 -->
      <div class="w-full my-24 mx-16">
        <div class="w-full text-3xl text-center border-b-4 border-double border-black py-3">ID 찾기</div>
        <div class="form-control w-4/5 m-auto flex flex-wrap justify-center items-center">
          <input type="text" id="id-email" name="email"
                 class="input input-bordered w-4/5 h-12 border rounded-xl my-8" placeholder="이메일">
          <button class="w-4/5 h-12 btn border-gray-300 rounded-xl mb-3 bg-[#5B9A8B]" th:onclick="_findLoginId()">ID 찾기</button>
        </div>
        <div class="alert-id-email"></div>
      </div>

      <!-- PW 찾기 영역 -->
      <div class="w-full my-24 mx-16">
        <div class="w-full text-3xl text-center border-b-4 border-double border-black py-3">PW 찾기</div>
        <div class="form-control w-4/5 m-auto flex flex-wrap justify-center items-center">
          <input type="text" id="loginId" name="loginId"
                 class="input input-bordered w-4/5 h-12 border rounded-xl my-8" placeholder="아이디">
          <input type="text" id="pw-email" name="email"
                 class="input input-bordered w-4/5 h-12 border rounded-xl mb-8" placeholder="이메일">
          <button class="w-4/5 h-12 btn border-gray-300 rounded-xl mb-3 bg-[#5B9A8B]" th:onclick="_findPassword()">임시 비밀번호 받기</button>
        </div>
        <div class="alert-loginId"></div>
        <div class="alert-pw-email"></div>
      </div>
    </div>
  </div>
</div>
<script layout:fragment="script" type="text/javascript" th:src="@{/js/user_find.js}"></script>
</html>