<html layout:decorate="~{layout}">
<head>
  <title>INQUIRY-SUCCESS</title>
</head>
<div layout:fragment="content" class="test-Container">
  <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
  <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
    <h5 class="border-b-4 border-double border-gray-300 text-2xl pt-5">문의하기</h5>
    <div class="w-full flex flex-wrap justify-center p-52">
      <div class="text-3xl w-full text-center pb-3">문의 글이 등록되었습니다.</div>
      <div class="text-lg">
        <a th:href="@{/inquiry}" class="p-1 border-b border-black border-opacity-0 hover:border-opacity-100 text-gray-500">돌아가기</a>
        <a href="#" class="p-1 border-b border-black border-opacity-0 hover:border-opacity-100" style="color:#5D9C59;">문의내역</a>
      </div>
    </div>

  </div>


</div>
</html>