<html layout:decorate="~{layout}">
<head>
    <title>INQUIRY-FORM</title>
</head>
<div layout:fragment="content" class="test-Container">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
    <div class="test-con mx-auto pr-1 h-full" style="margin-top:128px;">
        <h5 class="border-b-4 border-double border-gray-300 text-2xl pt-5">문의하기</h5>
        <div class="bg-gray-100 w-full px-10 py-16">
            <div class="text-2xl">문의사항을 남겨주시면 빠른 시간내에 답변을 드리도록 하겠습니다.</div>
            <ul>
                <li class="text-gray-500 pt-1">- 이메일, 핸드폰번호를 변경하려면 회원정보수정 페이지에서 변경해주세요.</li>
                <li class="text-gray-500 pt-1">- 문의하시기 전 <span class="font-bold">FAQ</span>를 참고해주세요.</li>
                <li class="text-gray-500 pt-1">- 한번 등록한 상담내용은 수정이 불가능합니다.</li>
                <li class="text-gray-500 pt-1">- 수정을 원하시는 경우 삭제 후 재등록하셔야 합니다.</li>
                <li class="text-gray-500 pt-1">- 알림 받기를 설정하시면 1:1 상담 답변완료시 고객님의 메일로 확인하실 수 있습니다.</li>
                <li class="text-gray-500 pt-1">- 고객상담센터 답변가능시간 오전 9시~오후 6시(토/일/공휴일 제외)</li>
            </ul>
        </div>
        <form th:object="${inquiryForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mt-5">
                <label for="subject" class="w-full text-xl">제목</label>
                <div class="flex">
                    <select th:field="*{category}" name="category" id="category" class="block h-12 rounded-lg border w-1/4 rounded-lg p-3">
                        <option value="">선택하세요</option>
                        <option th:value="order">주문/결제</option>
                        <option th:value="refund">환불/반품/교환</option>
                        <option th:value="delivery">배송</option>
                        <option th:value="user">회원</option>
                        <option th:value="other">사이트 이용/기타</option>
                    </select>
                    <input type="text" th:field="*{subject}" class="block border w-full h-12 rounded-lg p-3">
                </div>
            </div>

            <div class="mt-5">
                <label for="content" class="w-full text-xl">내용</label>
                <textarea th:field="*{content}" class="block border w-full rounded-lg p-3 resize-none" rows="20"></textarea>
            </div>

            <div class="mt-5">
                <div class="w-full bg-gray-400 p-3 rounded-lg text-center text-white"><i class="fa-solid fa-camera fa-lg" style="color: #ffffff;"></i> 사진 첨부하기</div>
            </div>

            <div class="mt-5 text-gray-500">
                <input type="checkbox" name="xxx" value="yyy" > 답변 알림 이메일로 받기
            </div>
            <div class="flex justify-center">
                <input type="submit" value="등록하기" class="block text-center w-32 rounded-xl p-3 my-5 mx-2 cursor-pointer" style="background:#E9B384;" id="saveButton">
                <a href="javascript:void(0);" class="cancel text-center w-32 rounded-xl p-3 my-5 mx-2 cursor-pointer bg-gray-200">취소</a>
            </div>
        </form>

    </div>


</div>
<script layout:fragment="script" type='text/javascript'>
    $(document).ready(function() {
        var saveButton = $("#saveButton");
        var categoryInput = $("#category");
        var subjectInput = $("input[name='subject']");
        var contentInput = $("textarea[name='content']");

        function updateSaveButtonColor() {
            if (categoryInput.val() && subjectInput.val() && contentInput.val()) {
                saveButton.css("background", "#E9B384");  // Active color
            } else {
                saveButton.css("background", "#C0C0C0");  // Inactive color
            }
        }

        categoryInput.on("input", updateSaveButtonColor);
        subjectInput.on("input", updateSaveButtonColor);
        contentInput.on("input", updateSaveButtonColor);

        $(".cancel").on("click", function() {
            var confirmed = window.confirm("Are you sure you want to cancel the inquiry?");
            if (confirmed) {
                window.location.href = "/inquiry";
            }
        });

        // Initial button color update
        updateSaveButtonColor();
    });
</script>
</html>